{% extends 'layout.html' %}

{% block body %}

<section id="category_section" class="category_section">
<div class="container" id="containerId">

  <!-- The variables were initialized outside the for loop so that it does get intialized for every loop  -->
  <script type="text/javascript">
    let stringValue;
    let date;
    var count = 0;
    var myInterval;
  </script>

  {% for counter in data %}
    <div class="row api apiData" id="divloop_{{loop.index}}" data-value="{{loop.index}}">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="category_section mobile">
          <!----article_title------>
          <div class="article_title header_purple">
              <h2><a href=""  class="divloop_source"  target="_self" >{{counter['source']['name']}}</a></h2>
          </div>
            <div class="category_article_wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_article_img">
                            <a href="" target="_self" ><img class="img-custom"
                                                                       src="{{counter['urlToImage']}}" alt="feature-top">
                            </a>
                        </div>
                        <!----top_article_img------>
                    </div>
                    <div class="col-md-6">
                        <span class="tag purple">{{counter['source']['name']}}</span>

                        <!----category_article_title------>
                        <div class="category_article_title" >
                            <h2><a href="{{counter['url']}}" data-index="{{loop.index}}" target="_blank" id="newsLink">{{counter['title']}} </a></h2>
                        </div>

                        <!----category_article_date------>
                        <div class="category_article_date">
                          <!-- we are using data value so that we can retrieve it by refering it with class time -->
                          <a href="#" class="divloop_time" data-value="{{counter['publishedAt']}}">
                          <script type="text/javascript">
                            stringValue = '{{counter['publishedAt']}}';
                            var dates = moment.utc(stringValue).local();
                            // var utcDate = new Date( utcMoment.format() );
                            var curDate = new Date();
                            var utcDate = moment.utc(curDate);
                            var diff = moment.duration(utcDate.diff(dates)).asHours();
                            // console.log(diff);
                            if (diff / 24.0 < 1){
                              document.write(Math.round(diff)," Hours Ago")
                            } else if (diff /24.0 > 1 && diff / 24.0 < 2) {
                              document.write("Yesterday")
                            } else {
                              document.write(dates);
                            }
                            // document.write(dates);
                            // console.log(dates);
                          </script>
                          </a> <br> by: <a class="divloop_author" href="#">{{counter['author']}}</a>
                        </div>
                        <!-- <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                        </div> -->
                        <!----media_social------>
                    </div>
                </div>
                <!----category_article_content------>
                <div class="category_article_content content divloop_content" style="text-align: justify;">
                  {{counter['content']}}
                </div>
                <input type="hidden" class="divloop_description" data-value="{{counter['description']}}">
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  {% endfor %}
  <input type="hidden" class="counter_length" data-value="{{data|length}}">
  <button type="button" class="btn btn-light" id="moreButton">Load More</button>
</div>
</section>

{% endblock %}
